
<footer class="page-footer black">
          <div class="container">
            
              
                  
                <div class="col s12">
                  <div class="grey-text center-align">
                      Contact us <br/>
                    <i class="tiny material-icons">call</i> 9808743559  |  
                    <i class="tiny material-icons">email</i> dtu.macs@gmail.com  |  
                    Delhi Technological University
                    (DTU) - 110042
                  </div>
                </div>
                  
              
              
          </div>
          <div class="footer-copyright">
            <div class="container grey-text center-align">
                © 2019 All rights reserved. <strong>MACS-DTU </strong> 
            </div>
          </div>
        </footer>
 <!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="./js/materialize.min.js"></script>
 <script type="text/javascript" src="./js/main.js"></script>
 

 </body>
</html>
     