<!DOCTYPE html>
<html>

<head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection" />
     
      <link type="text/css" rel="stylesheet" href="./css/form.css">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
       <link type="text/css" rel="stylesheet" href="./css/style4.css">
      <title>MACS</title>
      <link rel="icon" type="image/png" href="./img/flavicon.png" />
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/css?family=Aleo|Libre+Franklin|Open+Sans+Condensed:300|Source+Sans+Pro" rel="stylesheet">
      <style>
            nav .nav-wrapper {
                  /* margin-right: 5px; */
                  margin-left: 5px;
                  padding-left: 5px;
            }
           
      </style>
</head>

<body>
      <div class="navbar-fixed">
            <nav class="sidenav-trigger red lighten-2 z-depth-1 ">
                  <div class="nav-wrapper container">
                        <a href="/home" class="brand-logo">
                              <img class="logo-header" src="./img/logo.png" alt="">
                              <span class="logo-text black-text">MACS</span>
                        </a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                              <i class="header-2 material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down black-text">
                              <li>
                                  <a href="/asymptotes" class="black-text"><Strong>ABOUT INVICTUS</strong></a>
                              </li>
                              <li>
                                  <a href="/events" class="black-text"><strong>OUR EVENTS</strong></a>
                              </li>
                              <li>
                                  <a href="/team" class="black-text"><strong>OUR TEAM</strong></a>
                              </li>
                              
                              <li>
                                  <a href="/gallery" class="black-text"><strong>GALLERY</strong></a>
                              </li>
                              
                        </ul>

                  </div>
            </nav>
      </div>

      <ul class="sidenav" id="mobile-demo">
            <li>
                  <a href="/asymptotes">
                        <img class="logo-sidenav" src="./img/invi.png" alt="">
                        <span class="sidenav-text">Invictus</span>
                  </a>
            </li>
            
            <li>
                  <a href="/team">
                        <i class="material-icons">group</i> Team</a>
            </li>
            <li>
                  <a href="/events">
                        <i class="material-icons">event</i> Events</a>
            </li>
            <li>
                  <a href="/gallery">
                        <i class="material-icons">image</i>Gallery</a>
            </li>
            
      </ul>