<% include ./partials/header.ejs %>


      <div >
            <img class=" responsive-img" src="./img/invictus.jpg" alt="" srcset="">
      </div>

      <div class="container">

            <blockquote class="center-align" >
                <h3>We proudly present you <br>-</br> <strong class="red-text">INVICTUS</strong></h3>
                  <!-- <h5>"Because all work and no play makes Jack a dull boy."</h5> -->
                  
            </blockquote>

            <div class="divider"></div>

            <section class="style asymptote-p">

                  <p class="flow-text center-align">
                        INVICTUS is the yearly fest organized by DTU as an attempt to help students showcase their immense technical and informal
                        skills .
                  </p>

                  <p class="flow-text center-align">
                        INVICTUS incorporates within itself a plentitude of technical events like programming contests, website designing, and quizzes.
                        It also has an ever widening array of technical and informal events such as Sudoku, Anti - Chess
                        and LAN - Gaming. Bringing a respite from the hard curriculum of engineering, fests have always been
                        a very integral part of college life. Fests offer vast technical opportunities alongside being a
                        medium for students to bond together socially. INVICTUS is a platform for colleges from all across
                        the country to showcase their talents.
                  </p>

            </section>

      </div>

      
      <% include ./partials/footer.ejs %>