<% include ./partials/header.ejs %>

      
      
      
<div class="row">
      <div class=" slider">
            <ul class="slides">
                  <li>
                        <img src="./img/asymptotes.JPG">
                        
                        <div class="caption center-align">
                              <h3>Upwards and Onwards</h3>
                              <h5>Just like an Asymptote, we believe in reaching for the heights. We push our limits to achieve
                                    our goals and try to serve the best we can to nurture future engineers</h5>
                        </div>
                  </li>
                  <li>
                        <img src="./img/sig.jpg">
                        
                        <div class="caption left-align">
                              <h3>Goals:</h3>
                              <h5 class="light grey-text text-lighten-3">To expand knowledge, to learn, practice and master skills through workshops, seminars, interactive
                                    sessions and symposiums</h5>
                        </div>
                  </li>
                  <li>
                        <img src="./img/pawn.JPG">
                        
                        <div class="caption right-align">
                              <h3>Pawn stars</h3>
                              <h5 class="light grey-text text-lighten-3">We turn dreams into reality. Here's a glimpse of one of our very intriguing and fun filled
                                    event, The Pawn Stars. Inspired by the famous series, Harry Potter, we created a real
                                    life chess board to amalgamate fun and learning</h5>
                        </div>
                  </li>
                  <li>
                        <img src="./img/maths.png">
                        
                        <div class="caption center-align">
                              <h3>Mathematics, a strong tool</h3>
                              <h5>Mathematics acts as a connecting link amongst all the branches of engineering and therefore,
                                    we here at MACS provide an opportunity to students to showcase their mathematical, computational
                                    and analytical prowess.</h5>
                        </div>
                  </li>
            </ul>
            
      </div>
    </div>
      
      
<div class="macs container grey lighten-5 center">
            <div class="row">
                <br/>
                <h2 class="center-align red-text">About us</h2>
                <br/>
                <div class="divider"></div>
                  <div>
                        <p class="macs-text center-align">
                              "Mathematics is to Computer Science what notes are to music. Go down deep enough into anything and you will find mathematics
                              ." MACS (Mathematics and Computing Society), the student body of the Applied Mathematics Department
                              of DTU was established in 2013 and since then it aims to provide a platform to its students
                              to showcase, sharpen and hone their talents through various technical and non technical competitions.
                              Also the society focuses upon learning through workshops, SIGs, seminars, guest lectures and
                              various symposiums.
                        </p>
                  </div>
                  
                  <div>
                        <p class="tech-fest-text center-align">
                              About our annual tech fest: Asymptotes is the three-day annual tech fest organized by MACS in an attempt to help students
                              showcase their immense technical and non technical skills in the fields of Computer Science,
                              Finance, Marketing and Management. Around 25,000 students from colleges all over India attend
                              the Annual Tech Fest of DTU held in the month of February. Asymptotes’17 received a tremendous
                              response from thousands who attended it last year. We will be carrying forward our flagship
                              events from past years and will be adding some new events in our list this year.
                        </p>
                        <br/>
                  </div>
            </div>
      </div>
      
      <div class="sponsors container">

            <h3 class="center-align red-text">
                  Our Past Sponsors
            </h3>

            <div class="divider"></div>

            <section>
                  <div class="carousel">
                        <a class="carousel-item" href="#one!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor1.png" alt="" srcset="">
                        </a>
                        <a class="carousel-item" href="#two!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor2.png" alt="" srcset="">
                        </a>
                        <a class="carousel-item" href="#three!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor3.png" alt="" srcset="">
                        </a>
                        <a class="carousel-item" href="#four!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor4.png" alt="" srcset="">
                        </a>
                        <a class="carousel-item" href="#five!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor5.png" alt="" srcset="">
                        </a>
                        <a class="carousel-item" href="#six!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor6.png" alt="" srcset="">
                        </a>
                        <a class="carousel-item" href="#seven!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor7.png" alt="" srcset="">
                        </a>
                        <a class="carousel-item" href="#eight!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor8.jpg" alt="" srcset="">
                        </a>
                       <a class="carousel-item" href="#nine!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor9.jpg" alt="" srcset="">
                        </a>
                      <a class="carousel-item" href="#ten!">
                              <img class="sponsor-imgs" src="/img/sponsor/sponsor10.png" alt="" srcset="">
                        </a>
                  </div>
            </section>
            <div class="fixed-action-btn">
            <a class="btn-floating btn-large red pulse">
                  <i class="large material-icons">info_outline</i>
            </a>
            <ul>
                  <li>
                        <a class="btn-floating yellow" href="/events">
                              <i class="material-icons events" style="color:black">event_available</i>
                        </a>
                  </li>
                  
                  <li>
                        <a href="https://www.facebook.com/DTU.MACS/" class="btn-floating blue">
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                  </li>
            </ul>
      </div>
     

      </div>

          
      <% include ./partials/footer.ejs %>