<% include ./partials/header.ejs %>

      <div class="parallax-container">
            <div class="parallax">
                  <img src="./img/6.jpeg">
            </div>
            <h1 class="text-style center-align white-text">The Team</h2>
                  <h5 class="text-style center-align white-text">The Faces behind MACS</h5>
      </div>
  <div class="row">
    <div class="col l3 m4 s8 offset-s2 ">
      <div class="card lg md sm">
        <div class="card-image">
          <img src="img/team/vibhor.jpg">
          <span class="card-title">President</span>
          <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="fab fa-linkedin-in fa-2x"></i></a>
        
        </div>
        <div class="card-content">
          <p>Vibhor Saxena</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
      <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/apurva.png">
          <span class="card-title">Vice President</span>
        </div>
        <div class="card-content ">
          <h5>Apurva Puri</h5>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-lg" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-lg" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-lg" style="color: black"></i></a>
        </div>
      </div>
    </div>
      <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/saransh.jpg">
          <span class="card-title">General secretary</span>
        </div>
        <div class="card-content">
          <p>Saransh Garg</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
      <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/sanyam.jpeg" class="img-card">
          <span class="card-title">General Secretary</span>
        </div>
        <div class="card-content">
          <p>Sanyam Gupta</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
      <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/srishti.jpeg">
          <span class="card-title">Joint Secretary</span>
        </div>
        <div class="card-content">
          <p>Srishti Choudhary</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
     <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/sachin.jpg">
          <span class="card-title">Joint Secretary</span>
        </div>
        <div class="card-content">
          <p>Sachin Duhan</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
     <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/deepti.jpeg">
          <span class="card-title">Web Development Head</span>
        </div>
        <div class="card-content">
          <p>Deepti Singh</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
     <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/rishabh.png">
          <span class="card-title">Logistic Head</span>
        </div>
        <div class="card-content">
          <p>Rishabh</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
     <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/akshita.jpeg">
          <span class="card-title">Treasurer</span>
        </div>
        <div class="card-content">
          <p>Akshita Chander</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
  
    <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/kartik.jpeg">
          <span class="card-title">Tech Head</span>
        </div>
        <div class="card-content">
          <p>Kartik Khariwal</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
  <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/gaurav.jpeg" class="img-card">
          <span class="card-title">Tech Head</span>
        </div>
        <div class="card-content">
          <p>Gaurav Garg</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
    </div>
  
  <div class="col l3 m4 s8 offset-s2 ">
      <div class="card">
        <div class="card-image">
          <img src="img/team/jatin.jpg" class="img-card">
          <span class="card-title">Multimedia Head</span>
        </div>
        <div class="card-content">
          <p>Jatin Singh</p>
        </div>
        <div class="card-action">
            <a href=""><i class="fab fa-linkedin-in fa-2x" style="color: black"></i></a>
            <a href=""><i class="fab fa-github fa-2x" style="color:black"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-2x" style="color: black"></i></a>
        </div>
      </div>
  </div>
  </div>
  
      <% include ./partials/footer.ejs %>